body {background-color: black}
h1 {
	color: purple;
	font-family: Verdana
}
.container {position: relative;}
.text-block {
	position: absolute;
	color: black;
	bottom: 60px;
	top: 60px;
}
p,ul {
	color: #fffff;
	font-family: arial;
	font-size: small
	background
}
a {color: green}
a:hover {color:hotpink}

