@import url('https://fonts.googleapis.com/css?family=Raleway:900');
@import url('https://fonts.googleapis.com/css?family=Heebo:900');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #222;
	font-family: palatino, times new roman, serif;
	font-size: 18px;
	line-height:1.5;
}
h1 {
	font-family: Heebo, sans-serif;
	font-size:1.5em;
}
h2 {
	font-family: Heebo, sans-serif;
	font-size: 24px;
	font-weight: bold;
}
.heroContainer {
	border: 3px solid white;
	color:#fff;
	height: 800px;
	background-image: url('../images/editcam.jpg');
	background-size: cover;
	background-position: center;
}
.textBlock {
	text-align: center;
	margin-top: 150px;
}
.cta {
  	background-color: transparent;
  	border: 2px solid white;
  	border-radius: 5px;
  	color: white;
  	display:inline-block;
  	font-weight: bold;
  	margin-top: 100px;
  	padding: 1em 2em;
}
nav {
	border: 1px solid red;
	float: right;
}
nav a {
	color: purple;
	display:inline-block;
	font-family: heebo;
	padding: 20px;
}
a {color: green}
a:hover {color:hotpink}
header img {
	width: 10em;
	border: 1px solid purple;

}
.container {
	padding:5em 0;
}
.container img {
	float:left;
	width:33.33%;
}
.container div {
	float:left;
	width: 66.66%;
	padding: 4em;
}
.container:nth-of-type(even) img, .container:nth-of-type(even) div {
	float:right;
}
.realEstate {
	border: 3px solid blue;
	max-width: 1200px;
	margin: auto;
}
.invitation {
	background:purple;
	color:#fff;
	padding: 0;
}
.invitation.container > * {
	width:50%;
}
footer p {
	float: right;
	font-family: palatino, times new roman, serif;
	font-size: 13pt;
}
footer-button button {
	float: left;
	display: block;
}
.clearfix:after, .container:after {
	display:block;
	clear:both;
	content:"";
}
